@mixin buttons{
    border-radius: 0.3rem;
    padding: 0.4rem 0.3rem 0.4rem 0.3rem;
    font-family: "Inter", system-ui;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
}
body{
    background-color: #181818;
    font-family: "Inter", system-ui;
}
header{
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 3.75rem 2.5rem 2.5rem;

    img{
        width: 12vw;
    }
}
main{
    padding: 3rem 4rem 3rem 4rem;
}
.buttons{
    display:flex;
    width: 30vh;
    justify-content: space-around;

    .redButtom{
        @include buttons();
        width: 15vh;
        background-color:#DF0712;
        color: aliceblue;
    }
    .whiteButtom{
        @include buttons();
        background-color: #000000;
        color: aliceblue;
        width: 10vh;
        // padding: 0.4rem 1.5rem;
        padding: 40px 60px;
        border: solid 0.02rem aliceblue;
    }
}
.titulos-section{
    display: flex;
    align-items:center;
    justify-content: space-between;

    div{
        display:flex;
        flex-direction: column;
        color: #FFFFFF;
        font-family: "Inter", system-ui;
        
        h1{
            font-weight: 700;
        }
        h2{
            font-weight: 400;
        }
    }
    img{
        width: 6.25rem;
    }
}
.container-episodios{
    display:flex;
    align-items: center;
}
